*.pdf
.*
*.s
*.pyc
plot_dir
semi_sort.txt
semisort.csv
test
unit_test
test_features
test_vectorized_code
benchmark
multicore_benchmark
multicore_benchmark_serial
Makefile
test_error_rate.h
test_low_level_optimizations
test_morton_filter
test_error_rate
benchmark_deletions
benchmark_insertions
cruft.cc
benchmark_cf
benchmark_mf
benchmark_mf_config.h
benchmark_qf
benchmark_ss_cf
measure_ota_occupancy
measure_bucket_accesses
*.log
*.err
*.out
benchmarking/cuckoofilter
